 {{#each this}}
 <li class="gallery__card">
     <img   src="{{backdrop_path}}"  alt="{{discription}}"/>
  <div class="card__info info">
 <h3 class="info__title">{{original_title}}</h3>
 <div class="info__genres ">
 <ul class="genres">
{{#each genre_ids}} 
 <li class="genres__item">{{this}}</li>
 {{/each}}
  </ul>

 
 <p class="card__date">{{release_date}}</p>
 </div>
 
 </div>
 </li>
{{/each}}

 
