 {{#each this}}
 <div id= "{{id}}" class="card">
     <img srcset="{{doubleDesctopImage}},{{desctopImage}}" src="{{ desctopImage }}" width="320" height="240" alt="{{discription}}"/>
 
 <h2 class="card__title">{{Original_title}}</h2>
 
 <ul class="genres">
{{#each genres}} 
 <li class="genres__item">{{genre}}</li>
 {{/each}}
 </ul>
 
 <P class="card__date">{{release_date}}</P>
</div>
{{/each}}
 
