<div class='modal__image-thumb'>
    <img class='modal__image' src='{{poster}}' alt='{{title}}' data-src='{{id}}' />

</div>

<div class='card__wrapper'>
    <h2 class='card__name'>{{title}}</h2>
    <ul class='card__list'>
        <li class='card__item card__parameter--votes'>
            <p class='item__label'>Vote / Votes</p>
            <p class='item__value item__value--avg'>{{vote_average}}</p>
            <p class='item__value'> / </p>
            <p class='item__value item__value--cnt'>{{vote_count}}</p>
        </li>
        <li class='card__item'>
            <p class='item__label'>Popularity</p>
            <p class='item__value'>{{popularity}}</p>
        </li>
        <li class='card__item card__parameter--title'>
            <p class='item__label'>Original Title</p>
            <p class='item__value'>{{title}}</p>
        </li>
        <li class='card__item card__parameter--genres'>
            <p class='item__label'>Genre</p>
            <p class='item__value'> {{genres_type}}
                {{!-- {{#each genres_type}}
                <span>{{this}}</span><span class='comma'>,</span>
                {{/each}} --}}
            </p>
        </li>
    </ul>
    <details class='mobile-about'>
        <summary class='mobile-about-caption'>About</summary>
        {{overview}}
    </details>
    <p class='card__about-caption'>About</p>
    <p class='card__about'>{{overview}}</p>
    <div class='modal-form__buttons'>
        <button class='btn modal-form__btn' type='button' id='btn-add-watched' data-lib='Watched'
            data-textcont='add to watched' data-textlib='watched'>
            ADD TO WATCHED
        </button>
        <button class='btn modal-form__btn' type='button' id='btn-add-to-queue' data-lib='Queue'
            data-textcont='add to queue' data-textlib='in queue'>
            ADD TO QUEUE
        </button>
    </div>

</div>